header
{
    border: 5px solid red;
    width: 1280px;
    margin: 0 auto;
    padding-left: 44px;
    padding-top: 17px;
    padding-right: 61px;
    padding-bottom: 39px;

  }

  .hhh{
    width: 374px;
    height: 94px;
    vertical-align: middle;

  }


nav {

    display: inline-block;
    margin-left: 74px;
    /* border: 10px solid red; */
   
   
    
    
    
}

li  {

    display: inline-block;
    margin-right: 104px;
  
}



.picserch {

    width: 16px;
    margin-left: 140px;
   
}

.bololi {
    margin-right: 0;
}

section 
{
    width: 1280px;
    margin: 0 auto;
    background-color: #306B34;
    padding-top: 174px;
    padding-bottom: 152px;
    padding-left: 95px;
    padding-right: 111px;
}

.mtavarifoto {

    width: 679px;
    height: 453px;
}
 div {
    width: 306px;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
 }
 .satauri {
    margin-bottom: 48px;
 }

 .text2 {

    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color: yellow;
    font-family: 'BPG WEB 001 Caps';

 }

 article {
    /* border: #306B34 solid 3px; */
    width: 1282px;
    margin: 0 auto;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 150px;
    
 }

 .divi2 {
    
     width: 958px;
 }

 .text3 {
    
    margin-top: 82px;
    /* padding-top: 82px; */
    font: size 20px;
    font-style: italic;
    color: #7F7F7F;
    font-family: 'Noto Serif NP Hmong';
    
}

footer {
    width: 1280px;
    margin: 0 auto;
    background-color: #306B34;
    padding-left: 75px;
    padding-bottom: 23px;
    padding-top: 18px;
    padding-right: 110px;

}

.foterpic {
    border: solid 2px red;
    height:27px ;
    width: 106px;
    vertical-align: middle;
    
}

.copy 
{
    display: inline-block;
    border: solid 2px red;
    vertical-align: middle;
    margin-left: 600px;
}

h2 {

    font-size: 40px;
    font-style: italic;
    color: red;
    font-family:'Rubik Gemstones' ;
}

.text7 
{
    font-size: 60px;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-family: 'ALKDots';
}